# reference to https://blog.csdn.net/u010160335/article/details/80068175
# reference to Keil->help->µVision User's Guide->Appendix->B. File Types

# Project Files
*.UVGUI.*
*.UVGUIX.*

# Source Files
Project/rm_infantry.*
Project/rm_infantry.uvoptx
Project/rm_infantry.uvprojx
Project/Output/
Project/DebugConfig/

!*.A51
!*.A66
!*.C
!*.CPP
!*.H
!*.INC
!*.S
!*.SRC

# Listing Files
*.COD
*.HTM
*.I
*.LST
*.MAP
*.M51
*.M66
*.SCR

# Object and HEX Files
# *.
*.axf
*.B[00-31]
*.d
*.crf
*.ELF
*.hex
*.H86
*.lib
*.obj
*.o
*.SBR

# Build Files
*.BAT
*._IA
*.__I
*._II
*.SCR

# Debugger Files
*.INI
Log.docx

# Other Files
*.build_log.htm
*.cdb
*.dep
*.IC
*.lin
*.LNP
*.ORC
*.pack
*.PDSC
*.PLG
PROJECT_GUI.XSD
PROJECT_MPW.XSD
PROJECT_OPT.XSD
PROJECT_PROJ.XSD
*.sct
*.UVL
*.UVLA
*.UVTSK
*.SFD
*.SFR
*.SVD.XML
*.SVD
*.XML
bash.exe.stackdump

# Prerequisites

*.d



# Object files

*.o

*.ko

*.obj

*.elf



# Linker output

*.ilk

*.map

*.exp



# Precompiled Headers

*.gch

*.pch



# Libraries

*.lib

*.a

*.la

*.lo



# Shared objects (inc. Windows DLLs)

*.dll

*.so

*.so.*

*.dylib



# Executables

*.exe

*.out

*.app

*.i*86

*.x86_64

*.hex



# Debug files

*.dSYM/

*.su

*.idb

*.pdb



# Kernel Module Compile Results

*.mod*

*.cmd

.tmp_versions/

modules.order

Module.symvers

Mkfile.old

dkms.conf
/Project/rm_infantry/*.iex
/*.tmp
/~$Log.docx
